node_modules/
sites-rendered-output/
localData/
dist/
.yext
.yextrc
.artifact-output
.env
!.env.local
sites-config/features.json
functions/functionMetadata.json
*.local
.idea/*

.DS_Store

# files genereated during local development using "npm run dev"
src/templates/
src/registry/*/config.tsx
.template-manifest.json
stream.config.ts
